<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
        <img [src]='imageUrl+image'/>
    </div>
    <div class="col-md-8">
        <div class="text-success">
            <h1>
                Motorola
            </h1>
            <h1>
                Motorola Rocks
            </h1>
      </div>
      <div class="text-success">
        Quantity : <input type="number" id="qty" name="quantity" appMaxQty="2">
      </div>
      <div class="text-success">
         The Product is limited only 2 units per customer and more than that are not allowed
        </div>
      <div class="text-success">
         <button class="btn btn-primary">Buy</button>
        </div>
        <div id="errorMessage" class="text-danger" >
          </div>
  </div>

</div>